body {
  margin: 0;
  background: #182335;
  color: #BDC7D3;
}

:global(#root) {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.ui.segment) {
  background: #141D29 !important;
}

:global(.ui.segment .header) {
  color: #BDC7D3 !important;
}

.uiContainer {
  width: 100%;
  max-width: 1200px !important;
  padding: 20px;
}