.ui.segment.search-bar {
  background: #141D29;
  color: #BDC7D3;
}

.ui.segment.search-bar input {
  background: #111A22;
  color: #BDC7D3;
  transition: .5s;
}

.ui.segment.search-bar .form .field>label {
  color: #BDC7D3;
}

.ui.segment.search-bar input:focus,
.ui.segment.search-bar input:hover {
  background: #182335 !important;
  color: #BDC7D3;
}